
body {
    position: fixed;
    font-family: "Note Sans" sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    /*background: rgb(186,185,223);
    background: linear-gradient(0deg, rgb(96, 95, 126) 0%, rgb(180, 180, 180) 100%);*/
    background: url("assets/RobloxScreenShot20220712_164607784.png");
    background-size: 100% 600px;
}

/* Creations */

/* NAVIGATION BAR */
.navbar {
    background: rgb(126,133,136);
    background: linear-gradient(0deg, rgba(126,133,136,1) 0%, rgb(153, 153, 153) 100%);
    width: 100%;
    height: 62px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style-type: none;
    margin-bottom: 0;
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a{
    display: inline-block;
    color: #000;
    opacity: 0.6;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    transition: all .08s ease-in-out;
}
.navbar-menu li a:hover {
    opacity: 1;
    font-size: 20px;
}
.navbar-logo h1{
    font-weight: 900;
    font-size: 35px;
    text-decoration: none;
    color: #2e2e2e;
    margin-left: 25px;
}

/*SIDE BAR*/
.sidebar {
    display: block;
    background: rgb(139, 139, 139);
    height: 100%;
    width: 160px;
    z-index: 1;
    position: absolute;
}
.sidebar li {
    text-decoration: none;
    opacity: 1;
    font-size: 25px;
    font-weight: 500;
    color: rgb(37, 37, 37);
}
.sidebar header {
    font-size: 25px;
    font-weight: 900;
    color: #222222;
}
.sidebar button {
    background: none;
    opacity: 1;
    font-size: 25px;
    font-weight: 500;
    color: rgb(37, 37, 37);
    border: none;
}
.sidebar button:hover {
    font-weight: 900;
    transition: all .1s ease-in-out;
    color: rgb(45,45,45);
}


/*SIDE BAR - Roblox Games*/
.robloxgames {
    margin-left: 130px;
    z-index: 0;
}
.robloxgame-panel a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 25px;
}
.robloxgame-panel img {
    position:  relative;
    left: 1%;
    margin-bottom: 1%;
    width: 98%;
}
.robloxgame-panel {
    display: block;
    position: relative;
    background: rgb(189, 189, 189);
    opacity: 1;
    left: 50px;
    border-radius: 10px;
    width: 92%;
}
.robloxgame-text {
    display: block;
    color: aliceblue;
    margin-left: 150px;
    height: 140px; 
}

/*SIDE BAR - Assets*/
.robloxassets {
    margin-left: 130px;
    z-index: 0;
    display: none;
}
.robloxassets-panel {
    display: block;
    position: relative;
    background: rgb(189, 189, 189);
    opacity: 1;
    left: 50px;
    border-radius: 10px;
    width: 92%;
}
.robloxassets-panel a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 25px;
}
.robloxassets-panel h1 {
    text-decoration: none;
    color: #252525;
    font-size: 30px;
}
.robloxassets-text {
    display: block;
    color: aliceblue;
    margin-left: 150px;
    height: 140px; 
}